* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fce7d9;
}

h1 {
  color: #0f084b;
  text-align: center;
  background-color: #bdd4ef;
  padding: 40px;
  background-image: url(../images/eveningsky.jpg);
  background-position: 80%;
}