:root {
  --primary: #fce7d9;
  --secondary: #0f084b;
  --tertiary: #c9d9e4;
  --accent: #b2675e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}


/*.flex-row {*/
/*  display: inline;*/
/*}*/

header {
  color: var(--secondary);
  text-align: center;
  background-color: var(--tertiary);
  padding: 40px;
  background-image: url(../images/eveningsky.jpg);
  background-position: 80%;
  font-size: 2.0em;
}
header p {
  font-size: 24px;
}

main {
  margin: 10px;
  
}

.left-div {
  background-color: var(--tertiary);
  margin-bottom: 10px;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  
  
  
}
.left-div h4, .left-div h5 {
  width: 100%;
  background-color: var(--secondary);
  padding: 15px 5px;
  color: var(--tertiary);
  text-align: center;
  margin-top: 5px;
}
#cityBtn, .past-city-btn {
  width: 100%;
  border: 2px solid var(--secondary);
  background-color: var(--primary);
  margin: 4px 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

#cityBtn:hover, .past-city-btn:hover {
  background-color: var(--secondary);
  color: var(--tertiary);
}
#city {
  width: 100%;
  height: 40px;
}

#clear-saved-cities {
  background-color: var(--accent);
  color: var(--primary);
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 5px;
}

#clear-saved-cities:hover {
  background-color: var(--primary);
  color: var(--accent);
}

.current-display {
  border: 2px solid var(--secondary);
  border-radius: 5px;
  margin: 10px;
  background-color: var(--tertiary);
  display: flex;
  justify-content: space-between;
  
}

.current-list-item {
  font-size: 20px;
  color: var(--secondary);
  font-weight: 500;
}

#icon-container {
  flex-basis: 50%;
}

.current-icon {
  width: 80%;
}

.forecast-weather {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 10px;
}

.forecast-display-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 2px solid var(--secondary);
  align-items: stretch;
  background-color: var(--tertiary);
}

.forecast-list-item {
  font-weight: 500;
  color: var(--secondary);
}
@media screen and (max-width: 575px) {
  .forecast-weather {
    flex-wrap: wrap;
  }
  .forecast-display-div {
    width: 100%;
    align-items: center;
  }
  .current-display {
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .current-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}